* {
  box-sizing: border-box;
}

html,
body {
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
  font: 1.2em sans-serif;
}

.wrapper {
  box-sizing: border-box;
  min-height: 100%;

  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  
}

 #craft{
      color: rgb(176, 176, 240);
    } 

.page-header,
.page-footer {

  color: white;
  padding: 20px;

  flex-grow: 0;
  flex-shrink: 0;
}

.page-body {
  padding: 20px;

  flex-grow: 1;
}



.page-header{
    display: flex;
    height: 150px;
    text-align: center;
    background: #0F4370;
    background: linear-gradient(180deg, rgba(15, 67, 112, 1) 0%, rgba(37, 117, 186, 1) 50%, rgba(93, 167, 232, 1) 94%);
    font-size: 400%;
    align-items: center;
    justify-content: center;
    font-family: "BBH Bogle", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}

.page-footer{
    background: #767b82;
    background: linear-gradient(180deg, rgba(118, 123, 130, 1) 0%, rgba(79, 76, 76, 1) 81%, rgba(43, 41, 41, 1) 100%);
    border-top-left-radius: 12px;
    border-top-right-radius:12px;
    
}




ul {
  
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #5DA7E8;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  text-align: center;
  align-items: center;
    display: flex;
    justify-content: center;
    font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  position: sticky;
  top: 0;
  z-index: 1000;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
    background: #0F4370;
    background: radial-gradient(circle, rgba(15, 67, 112, 1) 0%, rgba(37, 117, 186, 1) 46%, rgba(93, 167, 232, 1) 100%);
    border-radius: 12px;
}

.membri{
    box-sizing: border-box;

    display: flex;
    width: 50%;
    text-align: left;

    margin: 0 auto;
    
    margin-bottom: 20px

}

.persona{
    height: 200px;
}

#team{
  color:white;
}